<div id="magic">
    <button id="magicTypeToggle">Урон</button>
    <ul id="magicSet">
        <li data-type="arithmetics">Математика</li>
        <li data-type="translate">Перевод</li>
        <li data-type="reshuffle">Преестанвока</li>
        <li data-type="asc">Возрастание</li>
        <li data-type="desc">Убывание</li>
        <li data-type="flags">Флаги</li>
        <li data-type="capitals">Столицы</li>
        <li data-type="months">Месяцы</li>
        <li data-type="riddles">Загадки</li>
    </ul>
    <form id="magicTask">
        <p id="taskCaption"></p>
        <div id="taskBody"></div>
        <button type="submit">Сделать ход</button>
    </form>
</div>
